@import "tailwindcss";

@theme {
  --color-primary: #211a1d;
  /* --color-secondary: #f87171; */
  --color-hover: rgba(0, 0, 0, 0.3);

  --font-primary: "roboto", sans-serif;

  --default-font-family: "roboto", sans-serif;

  --font-accent: "Goldman", serif;
  
  --color-secondary: #308a81;

}
